body{
 background-color:#ffe4e1;
 background-size:cover;
 color:white;
 }
.header{
 background-color:#c71585;
  height:100px;
  margin:10px;
  border-radius:5px;
 }
#navbar{
 background-color:#c71585;
 height:40px;
 margin:10px;
 border-radius:5px;
 }
 ul{
 margin:0px;
 padding:0px;
 list-style:none;
}
ul li{
  float:left;
  width:200px;
  height:40px;
  background-color:black;
  text-align:center;
  opacity:.8;
  line-height:40px;
  font-size:20px;
}
ul li a{
  text-decoration:none;
  color:white;
  display:block;
}
ul li a:hover{
  background-color:green;
}
ul li ul li{
  display:none;
}
ul li:hover ul li{
  display:block;
}
  
    
