
.a{
    display:block;
    border-radius:50%;
    margin-left:auto;
    margin-right:auto;
  }
.b{
    background-color:blue;
    color:white;
    border-radius:2px;
    }
.b:hover{
    background-color:lime;
    }
